@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary: rgb(255, 255, 0);
  --color-secondary: rgb(0, 175, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-primary);
}

.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(29, 104, 172, 0.7),
      rgba(54, 39, 72, 0.7)
    ),
    url('/public/assets/background.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}

.heading {
  font-family: 'Parisienne', sans-serif;
  font-size: 4rem;
}

.subheading {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-secondary);
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 3rem;
  }

  .subheading {
    font-size: 1.25rem;
  }

  .container {
    background: linear-gradient(
        to right,
        rgba(29, 104, 172, 0.7),
        rgba(54, 39, 72, 0.7)
      ),
      url('/public/assets/mobile-bg.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 425px) {
  .heading {
    font-size: 2.75rem;
  }

  .subheading {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 385px) {
  .heading {
    font-size: 2.5rem;
  }

  .subheading {
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .heading {
    font-size: 2.25rem;
  }

  .subheading {
    font-size: 1rem;
  }
}
